@model VideoDownloadModel
@{
    ViewData["Title"] = "Video Downloader";
}

<div class="text-center">
    @if (!Model.IsValid)
    {
        <div class="alert alert-danger">@Model.Message</div>
    }
    <form asp-controller="Home" asp-action="Index">
        <div style="display: none;" id="error" class="alert alert-danger"></div>
        <div class="form-group">
            <label asp-for="VideoUrl"></label>
            <input class="form-control" asp-for="VideoUrl" value="@Model.VideoUrl"/>
        </div>
        <button class="btn btn-primary" type="submit">Downloaden</button>
    </form>
</div>
@if (Model.IsValid)
{
    <script>
    $("#VideoUrl").val("");
    </script>
}